.prompt-assistant-setting {
	margin-bottom: 0;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
}

.prompt-assistant-textarea-container {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 16px;
}

.prompt-assistant-textarea {
	width: 100% !important;
	min-height: 150px !important;
	resize: vertical !important;
	padding: 1rem;
}

.prompt-assistant-button-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 16px;
}

.prompt-assistant-setting .setting-item-control {
	width: 100%;
}

.prompt-assistant-reset-button-control {
	padding: 0;
}
